@import 'nord.css';

body {
  width: 960px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-flow: row nowrap;
}

nav {
  height: 100px;
  background-color: var(--nord6);
  text-align: center;
  position: relative;
}

aside {
  width: 200px;
  height: 600px;
  background-color: var(--nord5);
  position: relative;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: column;
}

.row {
  width: 760px;
  display: flex;
  flex-flow: row nowrap;
}

.box-wide {
  width: 380px;
  height: 200px;
  position: relative;
  text-align: center;
}

.box-wide:first-of-type {
  background-color: var(--nord7);
}

.box-wide:last-of-type {
  background-color: var(--nord8);
}

.box-horiz {
  width: 190px;
  height: 250px;
  position: relative;
  text-align: center;
}

.box-horiz:nth-of-type(1) {
  background-color: var(--nord9);
}

.box-horiz:nth-of-type(2) {
  background-color: var(--nord10);
}

.box-horiz:nth-of-type(3) {
  background-color: var(--nord11);
}

.box-horiz:nth-of-type(4) {
  background-color: var(--nord12);
}

footer {
  position: relative;
  width: 760px;
  height: 150px;
  text-align: center;
  background-color: var(--nord4);
}

/* breakpoint: 960px */
@media only screen and (min-width: 480px) and (max-width: 959px) {
  body {
    max-width: 480px;
    margin: 0 auto;
  }

  main {
    flex-flow: column;
  }

  nav {
    height: 75px;
    background-color: var(--nord1);
  }

  aside {
    width: 480px;
    height: 150px;
    background-color: var(--nord2);
  }

  .row {
    width: auto;
    flex-flow: row wrap;
  }

  .box-wide {
    width: 480px;
    height: 125px;
    position: relative;
    text-align: center;
  }

  .box-wide:first-of-type {
    background-color: var(--nord3);
  }
  
  .box-wide:last-of-type {
    background-color: var(--nord4);
  }

  .box-horiz {
    width: 240px;
    height: 250px;
  }

  .box-horiz:nth-of-type(1) {
    background-color: var(--nord5);
  }
  
  .box-horiz:nth-of-type(2) {
    background-color: var(--nord6);
  }
  
  .box-horiz:nth-of-type(3) {
    background-color: var(--nord7);
  }
  
  .box-horiz:nth-of-type(4) {
    background-color: var(--nord8);
  }

  footer {
    width: 480px;
    height: 80px;
    background-color: var(--nord9);
  }
}

/* breakpoint: 480px */
@media only screen and (max-width: 479px) {
  body {
    max-width: 480px;
    margin: 0 auto;
  }

  main {
    flex-flow: column;
  }

  nav {
    height: 75px;
    background-color: var(--nord12);
  }

  aside {
    width: 480px;
    height: 150px;
    background-color: var(--nord11);
  }

  .row {
    width: auto;
    flex-flow: row wrap;
  }

  .box-wide {
    width: 480px;
    height: 125px;
    position: relative;
    text-align: center;
  }

  .box-wide:first-of-type {
    background-color: var(--nord10);
  }
  
  .box-wide:last-of-type {
    background-color: var(--nord9);
  }

  .box-horiz {
    width: 100%;
    height: 250px;
  }

  .box-horiz:nth-of-type(1) {
    background-color: var(--nord8);
  }
  
  .box-horiz:nth-of-type(2) {
    background-color: var(--nord7);
  }
  
  .box-horiz:nth-of-type(3) {
    background-color: var(--nord6);
  }
  
  .box-horiz:nth-of-type(4) {
    background-color: var(--nord5);
  }

  footer {
    width: 100%;
    height: 80px;
    background-color: var(--nord4);
  }
}
